body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;


  flex-direction: column;
}

$theme-color: lighten(rgb(255, 163, 93), 0%);

@mixin center_children{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center_self {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

@mixin fixed_center {
  position: fixed;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
}

#tag-selector-button {
  position: fixed;
  right: 0;
  top: 0;
  height: 100px;
  width: 160px;

  right: 10px;
  top: 10px;

  z-index: 20 ;

  border: None;
  border-radius: 5px;
  font-size: 30px;

  background-color: $theme-color;

  cursor: pointer;

  transition: cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
}

#tag-selector-button:hover {
  transform: scale(1.1);
}
#tag-selector-button:active {
  transform: scale(1.0);
}


#tag-selector-background {
  width: 100vw;
  height: 100vh;
  transition: 0.1s linear,opacity 0.1s linear;

  
  visibility: hidden;
  opacity: 0;
  
  
  position: fixed;
  background-color: rgba(0, 0, 0, 0.242);
  
  z-index: 40;
  
  @include center_children();
  
  // display: None;
  
  #tag-selector-container {
    transition: 0.2s ease-out;
    transform: scale(0.7);

    width: 70%;
    height: 90%;
    margin-top: 60px;
    background-color: $theme-color;
    border-radius: 10px;

    overflow: scroll;
    z-index: 41;

    h1 {
      position: relative;
      display: block;
    }

    .button {
      width: 180px;
      height: 110px;
      font-size: 40px;
      border-radius: 5px;
      margin: 5px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;

    }

    .button:hover {
      transform: scale(1.1);
    }

    #tag-container {

      height: auto;
      display: flex;
      flex-wrap: wrap;
      background: None;

      
    }


  }
}

#bottom-container {
  
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 150px;

  align-items: center;

  z-index: 30;

  #page-index {
    width: 110px;
    height: 50px;
    border-radius: 5px;
    @include center_children();
    font-size: 25px;
    background: $theme-color;
    
  }

  #new-word-container {
    background: $theme-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 

    width: 700px;
    height: 100%;

    transform: translateY(150px);

    transition: ease-in-out .3s;
  }

  #word-create-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    // background: blue;

    #add-button-wrapper {

      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 50px;
        height: 50px;
        font-size: 15px;
      }
    }

  }
}

#tag-container {
  height: 70px;
  background: rgb(255, 255, 255);
  width: 100%;
  @include center_children();

  text-align: center;
  flex-direction: row;
  align-items:flex-end;
  flex-shrink: 0;
  flex-wrap: nowrap;

  #logo {
    width: 150px;
    height: auto;
    position: fixed;
    left: 5px;
    top: 5px;

    z-index: 15;
  }

  #letter-container {

    display: flex;
    flex-wrap: nowrap;
    width: 75%;

    #char-button {
      background-color: darken(white, 1%);
      width: 40px;
      height: 35px !important;
  
      padding: 0;
      font-size: 17px;
      z-index: 5;
  
      $button_radius: 5px;
  
      border: None;
  
      border-top-left-radius: $button_radius;
      border-top-right-radius: $button_radius;
      border: 1px solid rgba(0, 0, 0, 0.417);
      border-bottom: 2px solid black;
      margin: 0px 1px 0px 1px;

      transform: translateY(5px);

      transition: cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
    }

    #char-button:hover {
      background: darken(white, 5%);
      transform: translateY(-1px);
    }
  }

}

#language-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  z-index: 10;

  .page-button-wrapper {

    width: 10vw;
    position: relative;
   

    .page-button {
      width: 100px;
      height: 100px;
      font-size: 75px;
      position: fixed;
      top: 50%;
      bottom: 50%;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s;
      background: $theme-color;
      color: white;

      border: None;
      border: 1px solid rgb(122, 122, 122);
      border-radius: 12px;
    }

    .page-button:hover {
      transform: scale(1.1);
    }

    .page-button:active {
      transition: cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
      transform: scale(1.1);
      background-color: lighten($theme-color, 20%);
    }

    $move-distance: 10px;

    #right-page-button:active {
      transform: translateX($move-distance);
    }

    #left-page-button:active {
      transform: translateX(-$move-distance);
    }

    #right-page-button {
    left: 100;
    right: 30px;
    }
    #left-page-button {
      right: 0;
      left: 30px;
    }
  }

  #dictionary {

    $dict_width: 70%;
    $side_margin: 10px;


    $boder-color: rgb(171, 171, 171);

    background: darken(white, 1%);
    border-right: 1px solid $boder-color;
    border-left: 1px solid $boder-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;

    #lang-name-container {
      width: $dict_width;
      display: flex;
      justify-content: space-around;
      margin: 30px;
      margin-left: $side_margin;
      margin-right: $side_margin;

      div {
        width: 33%;
        text-align: center;
      }
    }

    

      #word-container {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
        #single-word-container:hover #edit-button img {
          opacity: .3;
        }

        #single-word-container {
          width: $dict_width;
          height: 50px;
          display: flex;
          justify-content: left;
          align-items: center;
      
          margin: $side_margin;
          
          

          div {
  
            width: auto;
            text-align: left;
            margin: 5px;
          }

          border-bottom: .5px solid black;
          
          $text_color: darken(rgb(255, 255, 255), 1%);
  
          .edit-mode {
            display: None;
            background-color: $theme-color;
            height: 100%;

          }

          .edit-mode.button {
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 3px;

            border: None;
            border-radius: 15px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          #edit-translation {
            input {
              width: 220px;
            }
          }

          #delete-button {
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 10px;

            border: None;
            border-radius: 15px;

            

            img {
              width: 100%;
              height: 100%;
            }
          }

          #word1 {
            background: $text_color;
            margin: 5px;
            width: 17.5%;
            height: 100%;
            // margin-right: 0;



            color: blue;
            
            @include center_self();
            justify-content: flex-end;
            text-align: right;

          }
          
          #colon {
            width: 1%;
            font-size: 20px;
            color: rgb(255, 255, 255);
            background-color: black;
            @include center_self();

            margin: 0;
          }
  
          #translation {
            background: $text_color;
            margin: 5px;
            display: flex;
            height: 100%;
            flex-direction: row;
            width: 77.5%;

            align-items: center;

            color: black;

            // margin-left: 0;
          }

          #edit-button {

            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            background: darken(white, 1%);
            border: None;

            img {
              width: 100%;
              height: 100%;

              opacity: 0;

              transition: ease-in-out .1s;
            }

            img:hover {
              transform: scale(1.1);
              opacity: 1;
            }

            img:active {
              transform: scale(1);
            }
          }
        }

        #word-clone-wrapper {

          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          
        }

      }

    
    
  }
}
