body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column; }

#tag-selector-button {
  position: fixed;
  right: 0;
  top: 0;
  height: 100px;
  width: 160px;
  right: 10px;
  top: 10px;
  border: None;
  border-radius: 5px;
  font-size: 30px;
  background-color: #ff913d;
  transition: ease-in-out .2s; }

#tag-selector-button:hover {
  transform: scale(1.1); }

#tag-selector-background {
  width: 100vw;
  height: 100vh;
  transition: 0.1s linear,opacity 0.1s linear;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.242);
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center; }
  #tag-selector-background #tag-selector-container {
    transition: 0.2s ease-out;
    transform: scale(0.7);
    width: 70%;
    height: 90%;
    margin-top: 60px;
    background-color: #ff913d;
    border-radius: 10px;
    overflow: scroll; }
    #tag-selector-background #tag-selector-container button {
      width: 190px;
      height: 120px;
      font-size: 40px; }

#bottom-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 150px;
  align-items: center;
  z-index: 30; }
  #bottom-container #page-index {
    width: 110px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #ff913d; }
  #bottom-container #new-word-container {
    background: #ff913d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100%;
    transform: translateY(150px);
    transition: ease-in-out .3s; }
  #bottom-container #word-create-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    #bottom-container #word-create-container #add-button-wrapper {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #bottom-container #word-create-container #add-button-wrapper button {
        width: 50px;
        height: 50px;
        font-size: 15px; }

#tag-container {
  height: 70px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
  flex-wrap: nowrap; }
  #tag-container #logo {
    width: 100px;
    height: auto;
    position: fixed;
    left: 5px;
    top: 5px; }
  #tag-container #letter-container {
    display: flex;
    flex-wrap: nowrap;
    width: 75%; }
    #tag-container #letter-container #char-button {
      background-color: #fcfcfc;
      width: 40px;
      height: 35px !important;
      padding: 0;
      font-size: 17px;
      z-index: 10;
      border: None;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.417);
      border-bottom: 2px solid black;
      margin: 0px 1px 0px 1px; }

#language-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: row; }
  #language-container .page-button-wrapper {
    width: 10vw;
    position: relative; }
    #language-container .page-button-wrapper .page-button {
      width: 100px;
      height: 100px;
      font-size: 75px;
      position: fixed;
      top: 50%;
      bottom: 50%; }
    #language-container .page-button-wrapper #right-page-button {
      left: 100;
      right: 10px; }
    #language-container .page-button-wrapper #left-page-button {
      right: 0;
      left: 10px; }
  #language-container #dictionary {
    background: #fcfcfc;
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center; }
    #language-container #dictionary #lang-name-container {
      width: 70%;
      display: flex;
      justify-content: space-around;
      margin: 30px;
      margin-left: 10px;
      margin-right: 10px; }
      #language-container #dictionary #lang-name-container div {
        width: 33%;
        text-align: center; }
    #language-container #dictionary #word-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      #language-container #dictionary #word-container #single-word-container:hover #edit-button img {
        opacity: .3; }
      #language-container #dictionary #word-container #single-word-container {
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 10px;
        border-bottom: .5px solid black; }
        #language-container #dictionary #word-container #single-word-container div {
          width: auto;
          text-align: left;
          margin: 5px; }
        #language-container #dictionary #word-container #single-word-container .edit-mode {
          display: None;
          background-color: #ff913d;
          height: 100%; }
        #language-container #dictionary #word-container #single-word-container #edit-translation input {
          width: 250px; }
        #language-container #dictionary #word-container #single-word-container #word1 {
          background: #fcfcfc;
          margin: 5px;
          width: 17.5%;
          height: 100%;
          color: blue;
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;
          justify-content: flex-end;
          text-align: right; }
        #language-container #dictionary #word-container #single-word-container #colon {
          width: 1%;
          font-size: 20px;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;
          margin: 0; }
        #language-container #dictionary #word-container #single-word-container #translation {
          background: #fcfcfc;
          margin: 5px;
          display: flex;
          height: 100%;
          flex-direction: row;
          width: 77.5%;
          align-items: center;
          color: black; }
        #language-container #dictionary #word-container #single-word-container #edit-button {
          width: 30px;
          height: 30px;
          padding: 0;
          margin: 0;
          background: #fcfcfc;
          border: None; }
          #language-container #dictionary #word-container #single-word-container #edit-button img {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: ease-in-out .1s; }
          #language-container #dictionary #word-container #single-word-container #edit-button img:hover {
            transform: scale(1.1);
            opacity: 1; }
          #language-container #dictionary #word-container #single-word-container #edit-button img:active {
            transform: scale(1); }
      #language-container #dictionary #word-container #word-clone-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }

/*# sourceMappingURL=index.css.map */
