body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column; }

#pop-up-menu-container {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 50; }
  #pop-up-menu-container #pop-up-menu {
    background: #ffc963;
    width: 500px;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 30px; }
    #pop-up-menu-container #pop-up-menu #answer {
      height: 50px;
      width: 40%;
      margin-bottom: 10px; }
    #pop-up-menu-container #pop-up-menu #template-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center; }

#tag-selector-button {
  position: fixed;
  right: 0;
  top: 0;
  height: 100px;
  width: 130px;
  color: white;
  right: 10px;
  top: 10px;
  z-index: 20;
  border: None;
  border-radius: 10px;
  font-size: 28px;
  background-color: #ff9a4c;
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }

#tag-selector-button:hover {
  transform: scale(1.1); }

#tag-selector-button:active {
  transform: scale(1); }

#tag-selector-background {
  width: 100vw;
  height: 100vh;
  transition: 0.1s linear,opacity 0.1s linear;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.242);
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center; }
  #tag-selector-background #tag-selector-container {
    transition: 0.2s ease-out;
    transform: scale(0.7);
    width: 70%;
    height: 90%;
    margin-top: 60px;
    background-color: #ff9a4c;
    border-radius: 10px;
    overflow-x: visible;
    overflow-y: scroll;
    z-index: 41; }
    #tag-selector-background #tag-selector-container .tag-selector-top-section {
      display: flex;
      justify-content: space-between; }
      #tag-selector-background #tag-selector-container .tag-selector-top-section .upper-right-container {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #tag-selector-background #tag-selector-container .tag-selector-top-section .upper-right-container h1 {
          position: relative;
          display: block; }
        #tag-selector-background #tag-selector-container .tag-selector-top-section .upper-right-container button {
          background: white;
          width: 90px;
          height: 80%;
          margin: 0 10px 0 10px;
          border: None;
          border: 2px solid black;
          border-radius: 5px; }
        #tag-selector-background #tag-selector-container .tag-selector-top-section .upper-right-container #stop-tag-button {
          display: none; }
    #tag-selector-background #tag-selector-container .button {
      width: 180px;
      height: 110px;
      font-size: 40px;
      border-radius: 5px;
      margin: 5px;
      background: white;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s; }
    #tag-selector-background #tag-selector-container .button-container {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      background: None;
      justify-content: center; }
    #tag-selector-background #tag-selector-container .tag-button-wrapper {
      position: relative;
      transition: all ease 1s; }
      #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-input-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: translate(-50%, -50%) rotateY(180deg);
        width: 80%;
        height: 80%;
        opacity: 0;
        visibility: hidden;
        transition: cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
        transition-delay: .10s; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-input-container input {
          width: 100%;
          height: 40%; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-input-container button {
          position: relative;
          width: 25%;
          height: 0;
          padding-bottom: 20%;
          margin: 0 12.5% 0 12.5%; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-input-container #edit-input-cancel {
          margin-right: 5%; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-input-container #edit-input-save {
          margin-left: 5%; }
      #tag-selector-background #tag-selector-container .tag-button-wrapper .edit-tag-mode-button {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        z-index: 16;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        opacity: 0;
        transition: cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
        border: None;
        border: 1px solid black;
        border-radius: 2px; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper .edit-tag-mode-button img {
          width: 25px;
          height: 25px; }
      #tag-selector-background #tag-selector-container .tag-button-wrapper .edit-tag-mode-button:hover {
        transform: scale(1.45);
        opacity: 1 !important; }
      #tag-selector-background #tag-selector-container .tag-button-wrapper #delete-tag:hover {
        background: #ff3838;
        border-color: white; }
        #tag-selector-background #tag-selector-container .tag-button-wrapper #delete-tag:hover img {
          filter: brightness(0) invert(1); }
      #tag-selector-background #tag-selector-container .tag-button-wrapper #delete-tag {
        right: 0px; }
      #tag-selector-background #tag-selector-container .tag-button-wrapper #edit-tag {
        left: 0px; }

#bottom-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 150px;
  pointer-events: none;
  align-items: center;
  z-index: 30; }
  #bottom-container #page-index {
    width: 110px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #ff9a4c;
    color: white; }
  #bottom-container #new-word-container {
    background: #ff9a4c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translateY(150px);
    transition: ease-in-out .3s; }
    #bottom-container #new-word-container #input-container {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column; }
      #bottom-container #new-word-container #input-container input {
        height: 33%;
        margin: 5px;
        border: none;
        border: 1px solid #8f8f8f;
        border-radius: 8px;
        pointer-events: auto;
        cursor: text; }
    #bottom-container #new-word-container #input-save-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      align-items: center; }
      #bottom-container #new-word-container #input-save-container #tag-selector {
        width: 70%;
        height: 20%;
        border-radius: 10px;
        pointer-events: auto;
        cursor: pointer; }
      #bottom-container #new-word-container #input-save-container #save-word-button {
        width: 200px;
        height: 80px;
        font-size: 40px;
        border: none;
        border-radius: 15px;
        color: #ff9a4c;
        background: white;
        transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
        pointer-events: auto;
        cursor: pointer; }
      #bottom-container #new-word-container #input-save-container #save-word-button:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transform: scale(1.05) translateY(-10px); }
      #bottom-container #new-word-container #input-save-container #save-word-button:active {
        transform: scale(1) translateY(0px); }
  #bottom-container #word-create-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    #bottom-container #word-create-container #add-button-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px; }
      #bottom-container #word-create-container #add-button-wrapper button {
        width: 70px;
        height: 70px;
        font-size: 55px;
        color: white;
        background-color: #ff9a4c;
        border: 1px solid #909090;
        border-radius: 20px;
        pointer-events: auto;
        cursor: pointer; }
      #bottom-container #word-create-container #add-button-wrapper #add-button {
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s; }
        #bottom-container #word-create-container #add-button-wrapper #add-button p {
          margin: 0;
          padding: 0;
          transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s; }
      #bottom-container #word-create-container #add-button-wrapper #add-button:hover {
        transform: scale(1.2); }
      #bottom-container #word-create-container #add-button-wrapper #add-button:active {
        transform: scale(1); }
      #bottom-container #word-create-container #add-button-wrapper #save-page-button {
        display: None;
        width: 100px;
        font-size: 20px;
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s; }
      #bottom-container #word-create-container #add-button-wrapper #save-page-button:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
      #bottom-container #word-create-container #add-button-wrapper #save-page-button:active {
        transform: scale(1); }

#tag-container {
  height: 70px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
  flex-wrap: nowrap; }
  #tag-container #logo {
    width: 100px;
    height: auto;
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 15; }
  #tag-container #page-headline {
    text-align: center;
    display: none; }
  #tag-container #letter-container {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    align-items: flex-end; }
    #tag-container #letter-container #char-button {
      background-color: #fcfcfc;
      width: 45px;
      height: 45px;
      padding: 0;
      font-size: 20px;
      z-index: 5;
      border: None;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.417);
      border-bottom: 2px solid black;
      margin: 0px 1px 0px 1px;
      transform: translateY(5px);
      transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s; }
    #tag-container #letter-container #char-button:hover {
      background: #f2f2f2;
      transform: translateY(-1px); }

#language-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  z-index: 10; }
  #language-container .page-button-wrapper {
    width: 10vw;
    position: relative; }
    #language-container .page-button-wrapper .page-button {
      width: 100px;
      height: 100px;
      font-size: 75px;
      position: fixed;
      top: 50%;
      bottom: 50%;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
      background: #ff9a4c;
      color: white;
      border: None;
      border: 1px solid #7a7a7a;
      border-radius: 12px; }
    #language-container .page-button-wrapper .page-button:hover {
      transform: scale(1.1); }
    #language-container .page-button-wrapper .page-button:active {
      transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
      transform: scale(1.1);
      background-color: #ffd4b2; }
    #language-container .page-button-wrapper #right-page-button:active {
      transform: translateX(10px); }
    #language-container .page-button-wrapper #left-page-button:active {
      transform: translateX(-10px); }
    #language-container .page-button-wrapper #right-page-button {
      left: 100;
      right: 30px; }
    #language-container .page-button-wrapper #left-page-button {
      right: 0;
      left: 30px; }
  #language-container #dictionary {
    background: #fcfcfc;
    border-right: 1px solid #ababab;
    border-left: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 130px;
    padding-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center; }
    #language-container #dictionary #page-text-area {
      display: none;
      border: none;
      width: 90%;
      height: 100%;
      font-family: 'Arimo', sans-serif;
      font-size: 20px;
      margin-top: 20px;
      background: #fcfcfc;
      resize: none;
      height: 100vh; }
    #language-container #dictionary #page-text-area:focus {
      outline: 0;
      outline-color: transparent;
      outline-style: none; }
    #language-container #dictionary #lang-name-container {
      width: 70%;
      display: flex;
      justify-content: space-around;
      margin: 30px;
      margin-left: 10px;
      margin-right: 10px; }
      #language-container #dictionary #lang-name-container div {
        width: 33%;
        text-align: center; }
    #language-container #dictionary #word-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      #language-container #dictionary #word-container #single-word-container:hover #edit-button img {
        opacity: .3; }
      #language-container #dictionary #word-container #selected-tag-indicator {
        display: None;
        position: absolute;
        top: 10%;
        left: 12%;
        background: #ff9a4c;
        font-size: 20px;
        padding: 5px;
        color: white;
        border-radius: 5px; }
      #language-container #dictionary #word-container #single-word-container {
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 10px;
        border-bottom: .5px solid black; }
        #language-container #dictionary #word-container #single-word-container div {
          width: auto;
          text-align: left;
          margin: 5px; }
        #language-container #dictionary #word-container #single-word-container .edit-mode {
          display: None;
          background-color: #ff9a4c;
          height: 100%; }
        #language-container #dictionary #word-container #single-word-container .edit-mode.button {
          width: 50px;
          height: 50px;
          padding: 10px;
          margin: 3px;
          border: None;
          border-radius: 15px; }
          #language-container #dictionary #word-container #single-word-container .edit-mode.button img {
            width: 100%;
            height: 100%; }
        #language-container #dictionary #word-container #single-word-container #edit-translation input {
          width: 220px; }
        #language-container #dictionary #word-container #single-word-container #delete-button {
          width: 50px;
          height: 50px;
          padding: 10px;
          margin: 10px;
          border: None;
          border-radius: 15px; }
          #language-container #dictionary #word-container #single-word-container #delete-button img {
            width: 100%;
            height: 100%; }
        #language-container #dictionary #word-container #single-word-container #word1 {
          background: #fcfcfc;
          margin: 5px;
          width: 17.5%;
          height: 100%;
          color: blue;
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;
          justify-content: flex-end;
          text-align: right; }
        #language-container #dictionary #word-container #single-word-container #colon {
          width: 1%;
          font-size: 20px;
          color: white;
          background-color: black;
          display: flex;
          justify-content: center;
          align-self: center;
          align-items: center;
          margin: 0; }
        #language-container #dictionary #word-container #single-word-container #translation {
          background: #fcfcfc;
          margin: 5px;
          display: flex;
          height: 100%;
          flex-direction: row;
          width: 77.5%;
          align-items: center;
          color: black; }
        #language-container #dictionary #word-container #single-word-container #edit-button {
          width: 30px;
          height: 30px;
          padding: 0;
          margin: 0;
          background: #fcfcfc;
          border: None; }
          #language-container #dictionary #word-container #single-word-container #edit-button img {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: ease-in-out .1s; }
          #language-container #dictionary #word-container #single-word-container #edit-button img:hover {
            transform: scale(1.1);
            opacity: 1; }
          #language-container #dictionary #word-container #single-word-container #edit-button img:active {
            transform: scale(1); }
      #language-container #dictionary #word-container #word-clone-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }

/*# sourceMappingURL=index.css.map */
